In [5]:
import random
import numpy as np
import pandas as pd

with open("names.txt",encoding="utf-8") as file:
    content = file.read()

names_list = content.split()
names = random.choices(names_list,k=50)

with open("names.txt",encoding="utf-8") as file:
    content = file.read()
    
scores = np.random.randint(50,101,size=(50,5))
student_df = pd.DataFrame(scores,
             columns=['國文','英文','數學','地理','歷史'],
             index=names)
student_df

      國文   英文   數學   地理  歷史
羅佩樺   55   80   50   77  60
王筱婷   76   96   99   57  69
張伊映   93   79   94   95  87
黃靜怡  100   69   82   78  70
林世城   76   60   89   50  53
唐雪豪   90   65   81   60  64
張嘉韋   98   69   85   60  81
周家銘   76   94   51   61  64
陳倩潔   96   99   72   83  75
周家銘   80   56   98   77  97
鄭佳玲   57   98   99   53  75
戴萱能   99   68   86   53  69
龐皓芳   78   78   87   76  83
朱彥志   59   58   86   73  77
吳麗卿   83   72   80   65  70
王柏聖   54   98   69   88  69
謝貞妃   95   94   96   80  89
李淑芳   87   66   68   66  68
羅幸娥   99   68   63   77  54
王惠皓   97   63   59   87  55
黃佩玲   93   89   82   87  83
黃嘉琪   84   51   55   69  58
蒙淑惠   89   62  100   99  95
鄧哲榮   78   80   74   60  77
林益妏   59   63   96   81  71
吳振瑋   85   74   50   76  83
郭淑真   55   85   77   57  79
張牧聿   79   93   54   74  83
翁鈺婷   69   87   66   83  92
李立偉   76   95   58   60  57
林群清   80   75   79   73  74
王志謙   62   96   78   59  90
吳淑惠   58   83   93   90  92
陳冠霞   88   69   98   57  92
馮芳如   59   69   95   99  57
陳彥治   86   85   65   75  84
楊韻如   96   76   64   75  53
吳麗卿   97   87   85   95  72
張婕妤   89   87   87   66  64
張彥博   56   72   90   67  69
林思賢   69   60   50   90  75
聶心怡   52   74  100  100  56
崔孝憲   67   54   59   94  94
王明昇   85   75   67   88  64
鄭憲定   74   66   50   82  59
黃江旭   53   66   64   87  62
杜儀鳳   87   55   71   98  82
林建勳   83   79   64   79  55
龐皓芳   83   69   54   51  58
高智超   63  100  100   53  60

In [9]:
student_df.loc["鄭憲定"]
student_df.loc[["鄭憲定","王柏聖"]]

     國文  英文  數學  地理  歷史
鄭憲定  74  66  50  82  59
王柏聖  54  98  69  88  69

In [14]:
student_df.iloc[0]
student_df.iloc[[0,49]]
student_df.iloc[:5]
student_df.iloc[-5:]

     國文   英文   數學  地理  歷史
黃江旭  53   66   64  87  62
杜儀鳳  87   55   71  98  82
林建勳  83   79   64  79  55
龐皓芳  83   69   54  51  58
高智超  63  100  100  53  60

In [15]:
student_df.iloc[-5:,:3]

     國文   英文   數學
黃江旭  53   66   64
杜儀鳳  87   55   71
林建勳  83   79   64
龐皓芳  83   69   54
高智超  63  100  100

In [17]:
student_df[student_df['國文'] < 60]

     國文  英文   數學   地理  歷史
羅佩樺  55  80   50   77  60
鄭佳玲  57  98   99   53  75
朱彥志  59  58   86   73  77
王柏聖  54  98   69   88  69
林益妏  59  63   96   81  71
郭淑真  55  85   77   57  79
吳淑惠  58  83   93   90  92
馮芳如  59  69   95   99  57
張彥博  56  72   90   67  69
聶心怡  52  74  100  100  56
黃江旭  53  66   64   87  62

In [18]:
student_df[(student_df['國文'] < 60) & (student_df['英文'] < 60)]

     國文  英文  數學  地理  歷史
朱彥志  59  58  86  73  77

Empty DataFrame
Columns: [國文, 英文, 數學, 地理, 歷史]
Index: []