In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -1.178577  0.009589
1    a  two  1.191113  0.518269
2    b  one  0.674836  0.349234
3    b  two  0.937592 -0.238217
4    a  one -0.331124  0.713836

In [8]:
grouped = df.groupby(by=['北','北','北','南','南'])[['data1','data2']]
grouped.min()

      data1     data2
北 -1.178577  0.009589
南 -0.331124 -0.238217